<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head content... -->
</head>
<body>
    <div class="container">
        <h1>Niveles</h1>

        <!-- Input field for progress -->
        <label for="progress">Nivel:</label>
        <input type="number" id="progress" name="progress" min="0" max="100" value="{{ progress }}" readonly>

        <!-- Progress bar -->
        <div class="progress-bar">
            <progress id="progressBar" max="100" value="{{ progress }}"></progress>
        </div>

        <script>
            // Function to update progress bar
            function updateProgressBar() {
                fetch('/get_sensor_value')  // Endpoint to get the sensor value
                    .then(response => response.json())
                    .then(data => {
                        var progressBar = document.getElementById("progressBar");
                        var progressInput = document.getElementById("progress");

                        progressBar.value = data.progress;
                        progressInput.value = data.progress;
                    })
                    .catch(error => console.error('Error fetching sensor value:', error));
            }

            // Update progress bar every 5 seconds (adjust as needed)
            setInterval(updateProgressBar, 5000);

            // Initial call to populate progress bar based on default value
            updateProgressBar();
        </script>

        <!-- Link to the main menu -->
        <a href="{{ url_for('Index') }}"><button class="btn">Menú principal</button></a>
    </div>
</body>
</html>